.header{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	background: rgba(76,175,80,0.6);
	padding: 10px;
	color: white;
}
.menu ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}

.menu ul li{
	display: inline-block;
	padding: 5px;
	border:1px solid black;
}
.menu{
	margin-left: 55px;
	
}

.menu ul li a:hover{
	color: red;
	font-size: 20px;
}

.container{
	margin:0 auto;
	width: 1200px;
	height: 500px;
	font-size: 20px;

}
.footer{
	margin-left: 95px;
	/*margin:0 auto;*/

	width: 1200px;
}

.footer,.col1 {
	float: left;
	/*margin:0 auto;*/
	/*width: 1200px;*/
	height: 150px;
	/*border:1px solid black;*/
	padding-right: 8%;
}


.footer,.col1 ul{
	list-style-type: none;
}

.footer,.col1 ul li a{
	text-decoration: none;
}
img{
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.col1 ul li img  a:hover{
	color: green;
	font-size: 20px;
}
