.header{
	width: 1500px;
	height: 80px;
	text-align: left;
	background: gray;
	margin: 0 auto;
	color:black;
	padding: 5px;
	
	background:  rgba(76, 175, 80, 0.6);
}
.menu ul{
	list-style-type: none;
	overflow: auto;
	
}
.menu ul li a{
	text-decoration: none;
}
.menu ul li{
	display: inline-block;
	padding: 10px;
	background-color: #E8E8E8;
	border: 1px solid green;

}
a:hover{
	color: red;
	font-size: 17px;
}
.container{
	margin:0 auto;
	width: 1500px;
	height: 350px;
	font-size: 20px;
}
.col{
	margin-left: 35px;
	float: left;
	width: 230px;
	height: 280px;
	/*border:1px solid green;*/
	padding-left: 2%;

}
.col p{
	text-align: center;
}
.gal{
	width: 200px;
	height: 250px;
	border:1px solid red;
	border-radius: 7%;
	padding: 1%;
}
h4{
	text-align: center;
	margin-bottom: -30px;
	position: relative;
	left: 10px;

}
.footer{
	/*text-align: right;*/
	margin:0 auto;
	width: 1200px;
	background: rgba(76, 175, 80, 0.6);
	padding-left: 200px;
	position: absolute;
	left: 50px;
}

.footer ul li{
	list-style-type: none;
}
.footer ul li a{

	text-decoration: none;
}
.footer,.col1{
	float: left;
	margin:0 auto;
	font-size: 20px;
	line-height:195%;
	/*border:1px solid black;*/
	padding-right: 5%;

}
.pos{
	/*padding: 10px;*/
	/*border:1px solid black;*/
	vertical-align: middle;

}

.footer,.col2{
	float: right;
}
img{
	margin-bottom: 4px;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}